.whatapp-icon{
    position: fixed;
    right: 20px;
    bottom: 10px;
    animation: shake 10s ease-in infinite;
    transition: 1.5s ease-in-out ;
    cursor: pointer;
}

/* @keyframes shake {
    50%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateY(10px);
    }
} */

