*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    width: 80vw;
    margin: 20px auto;
    text-align: center;
}
.box h1{
    color: rgb(235, 38, 235);
    font-size: 50px;
}